*
# Allow GitHub related files
!.gitignore
!.github
!.github/**/*
!README.md
# Allow script files
!scripts/
!scripts/**/*.tcl
!scripts/**/*.sh
!scripts/**/*.py
# Allow hardware related files
!hw
!hw/**/
hw/ip_repo_vivado_library
# Allow software related files
!sw
!sw/*_app
!sw/*_app/**
sw/**/*.*
!sw/*_app/src/**/*.c
!sw/*_app/src/**/*.h
sw/*_app/src/platform.h
sw/*_app/src/platform.c
# Docs for DAPI
!docs/
!docs/**
!docs/**/*
# Vivado logs
vivado.jou
vivado.log
!*.xsa
# Folder structure for vivado projects
!xilinx/
!xilinx/vivado/
!.gitkeep