*
# Allow GitHub related files
!.gitignore
!.github
!.github/**/*
!README.md
!CONTRIBUTING.md
!examples/
!examples/TB_Example.vhd
!examples/Example.vhd
# Allow Doxygen file
!Doxyfile
# Allow script files
!scripts/
!scripts/**/*.tcl
!scripts/**/*.sh
# Allow hardware related files
!hw
!hw/**/
# Allow software related files
!sw
## Manage Vitis files according to https://docs.amd.com/r/en-US/ug1400-vitis-embedded/Source-Control
## Manage workspace level Vitis files
sw/**/_ide
!sw/**/_ide/version.ini
sw/**/.rigel_lopper
## Manage platform component level Vitis files
sw/**/export
sw/**/hw/sdt
sw/**/resources
sw/**/logs
## Manage application component level Vitis files
sw/**/build
sw/**/compile_commands.json
# _ide already ignored by workspace level rules
# Docs for DAPI
!docs/
!docs/**/*
# Vivado logs
vivado.jou
vivado.log