*
# Allow GitHub related files
!.gitignore
!.github
!.github/**/*
!README.md
!CONTRIBUTING.md
!examples/
!examples/TB_Example.vhd
!examples/Example.vhd
# Allow Doxygen file
!Doxyfile
# Allow script files
!scripts/
!scripts/**/*.tcl
!scripts/**/*.sh
!scripts/**/*.py
# Allow hardware related files
!hw
!hw/**/
hw/ip_repo_vivado_library
# Allow software related files
!sw
!sw/**
sw/**/*.*
!sw/**/src/*.c
!sw/**/src/*.h
sw/**/src/platform.*
# _ide already ignored by workspace level rules
# Docs for DAPI
!docs/
!docs/**/*
# Vivado logs
vivado.jou
vivado.log
!*.xsa