*
# Constraints
!constraints/
!constraints/**
constraints/**/*.*
!constraints/**/*.xdc
# SRC
!src/
!src/**
src/**/*.*
## RTL
!src/rtl/**/*.vhd
!src/rtl/**/*.v
!src/rtl/**/*.sv
## BD
!src/bd/**/*.bd
!src/bd/**/ip/**/*.xci
## IPs
!src/**/*.xci
# SIM
!sim/
!sim/**
sim/**/*.*
## RTL
!sim/rtl/**/*.vhd
!sim/rtl/**/*.v
!sim/rtl/**/*.sv
## BD
!sim/bd/**/*.bd
!sim/bd/**/ip/**/*.xci
## IPs
!sim/**/*.xci
# Git
!.gitignore
!.gitkeep