*
!pictures/
pictures/**/*
!files
files/**/*
!*.md
!*.svg
!*.xml
!*.drawio
!*.pdf
!*.pages
!Registerbeschreibungen/
Registerbeschreibungen/**/*
!Registerbeschreibungen/Initialwerterzeugung/
!Registerbeschreibungen/Initialwerterzeugung/src/
!Registerbeschreibungen/Initialwerterzeugung/src/chapters/
!*.tex
!.gitignore