*
!files
!files/*.*
!pictures/
!pictures/*.*
!Registerbeschreibungen/
!Registerbeschreibungen/Initialwerterzeugung/
!Registerbeschreibungen/Initialwerterzeugung/src/
!Registerbeschreibungen/Initialwerterzeugung/src/*.tex
!Registerbeschreibungen/Initialwerterzeugung/src/chapters/
!Registerbeschreibungen/Initialwerterzeugung/src/chapters/*.tex
!Registerbeschreibungen/Initialwerterzeugung/out
!Registerbeschreibungen/Initialwerterzeugung/out/*.pdf
!Endpraesentation/
!Endpraesentation/*.pptx
!Endpraesentation/*.drawio
!Endpraesentation/*.jpg
!*.md
!.gitignore
.DS_Store